html{
    background: black;
}

#flag{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.green-rect{
    position: static;
    background-color: #009739;
    height: 15rem;
    width: 21rem;
}


#diamond-shape {
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom: 70px solid #FEDD00;
    position: relative;
    top: -50px;
  }
  #diamond-shape:after {
    content: '';
    position: absolute;
    left: -50px;
    top: 70px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 70px solid #FEDD00;
  }

#tilted{
    transform: scale(1.7, 2.0);
    position: absolute;
    top: 60px;
    left: 140px;
    rotate: 90deg;
}


#blue-circle {
        width: 100px;
        height: 100px;
        position: fixed;
        top: 30% ;
        left: 35%;
        border-radius: 50% ;
        transform: scale(1.1);
        background: radial-gradient(ellipse farthest-corner at 0 120%, #012169 60%, #ffffff 60%, #012169 70%);
        rotate: -30deg
}
